body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(121, 99, 219);
  line-height: 1.6;
  scroll-behavior: smooth;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px;
}

.content-img {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  object-fit: cover;
  margin: 10px;
  transition: 0.3s;
}

.content-img:hover {
  transform: scale(1.05);
}

.parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bg-1 {
  background-image: url('https://images.unsplash.com/photo-1575237402880-4b496a83ae04?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.bg-2 {
  background-image: url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?q=80&w=2070");
}

.content {
  /* rgba : red green blue alpha */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 40px;
  border-radius: 10px;
  width: 60%;
}

.normal-section {
  padding: 80px 20px;
  background-color: white;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  color: rgb(22, 15, 6);
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

h2 {
  font-size: 2rem;
  color: rgb(101, 101, 164);
}



.btn-contact {
  padding: 12px 25px;
  background-color: #1465bb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10;
}

.contact-form input,
textarea {
padding: 10px;
border: 1px solid rgb(113, 99, 208);
border-radius: 5px;
}

.contact-form button {
  background: rgb(58, 58, 197);
  color: aliceblue;
  padding: 8px;
  border: none;
  cursor: pointer;
}
/* Keahlian */
.wraper{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  flex-wrap: wrap;
}

.skill-wraper {
  background-color: aliceblue;
  color: #333;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  width: 200px;
}

.skill-wraper h3 {
  margin-top: 0;
  color: #3d7dc2;
  text-align: center;
}

.skill-wraper ul {
  padding-left: 20px;
}

footer {
  background-color: #5f606a;
  text-align: center;
  padding: 20px 0;
}

nav a {
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  color: rgb(207, 164, 207);
  transition: 0.3s;
}

nav a:hover {
  color: #e674e6;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
}

.logo {
  color: #7d76e5;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

/* burger menu start */
#menu {
  display: flex;
  gap: 15px;
}

.nav-container button {
  display: none;
}
/* ukuran tab */
@media (max-width: 768px){
.nav-container button {
  display: block;
}
#menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 150px;
  padding: 10px 0px;
}
#menu a {
  padding: 10px;
}
#menu.show {
  display: flex;
}
}
/* burger menu end */

@media (max width: 480px) {
  .img {
    grid-template-columns: 1 fr;
  }
}